<div class="col-xs-7 filter-date-block calendar-block">
  <ul class="col-xs-12">
    {{ view "pickmeup" readonly="readonly" class="form-control from date-picker no-date-limit" maxlength="255" valueBinding="view.dateFrom"}}
    {{ view "pickmeup" readonly="readonly" class="form-control to date-picker no-date-limit" maxlength="255" valueBinding="view.dateTo"}}
  </ul>
</div>

